:root {
    --accent_color:  rgb(184, 168, 194);
}

* {
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 100%;
   
}
html {
    scroll-behavior: smooth;
 
}

body {
    background-image: url("images/the\ real\ background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

main{
    margin-top: 10%;
}
/* slightly unconventional header for stylistic purpose as well to show off clickable scroll links in nav */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 20px;
    margin-top: 20%;
    width: 100%;
}
header h1 {
    font-size: xx-large;
    text-align: center;
    
}
header p {
    text-align: center;
    margin-top: 5px;

}
nav {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
nav ul {
    list-style-type: none;
    text-decoration: none;
  
}
 nav ul li {
    display: inline-block;
    margin-right: 2.5em;
    margin-left: 2.5em;

    
    text-decoration: none;
 }
 nav ul li a {
    text-decoration: none;
    color:black;
 }
/* my entire main is a flex box container to best align my content down the center of the page */
 main {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 main section {
     max-width: 33.3%;
     margin-left: 33.3%;
     margin-top: 10%;
     margin-bottom: 10%;
     padding-top: 15%;
     padding-bottom: 15%;
 }
 #mypic {
     border-style: solid;
     padding: 5%;
     min-height: 10%;
     width: 33.3%;
     border-color: var(--accent_color);
 }
/* just a filler pic, still want to work on this box */
 #mypic:hover {
     content: url(images/me_irl_in_shades.jpg);
 }

 section h2 {
     min-height: 200%;
     min-width: 33.3%;
     text-align: center;
     font-size: x-large;
     padding-bottom: 2%;
 }
 section p {
     text-align: justify;
     margin-bottom: 5%;
 }
 section h3 {
     text-align: center;
 }

/* once again it took me a LONG time to get my flex box to work, originally had display flex on too many items */
 #mywork {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     width: 33.3%;
 }
.large_project_slot {
    border-style: solid;
    border-color: var(--accent_color);
    min-height: 20em;
    width: 40em;
    margin-bottom: 5%;
    
/* I did try to condence these hover elements by assigning a secondary class to my divs, it was unsuccessful so it is still seperated out. i chose this filler image because the screen captures were not aesthetically pleasing at all */
}
.large_project_slot:hover {
    background-image: url(https://cdn130.picsart.com/269868497006201.png?type=webp&to=min&r=640);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.small_projects_slot {
    border-style: solid;
    border-color: var(--accent_color);
    min-height: 10em;
    width: 18em;

}

.small_projects_slot:hover {
    background-image: url(https://cdn130.picsart.com/269868497006201.png?type=webp&to=min&r=640);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#contactme {
    padding-bottom: 20%;
}
 form {
     display: flex;
     flex-direction: column;
     justify-content: center;

 }
#button {
    background-color: var(--accent_color) ;
    cursor: pointer;
}

 footer {
     text-align: center;
     
 }

 /* adjustments for tablet and  phone */
 @media only screen and (max-width: 768px) {
    section p {
        font-size: 75%; 
    }
    section h2 {
        font-size: large;
    }
    section h3 {
        font-size: small;
    }
    #button {
        font-size: 75%;
    }
    .large_project_slot {
        min-height: 10em;
        width: 20em;
    }
    .small_projects_slot {
        min-height: 5em;
        width: 9em;
    }
 }
 
 @media only screen and (max-width: 540px) {
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #button {
        font-size:25%;
    }
    .large_project_slot {
        min-height: 5em;
        width: 10em;
    }
    .small_projects_slot {
        min-height: 2.5em;
        width: 10em;
    }
 }
